* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

div {
    width: 600px;
    padding: 24px;
    background-color: #01b3b3;
    margin: auto;
}

.main, .list {
    width: 400px;
    background-color: #ffebcd;
    padding: 12px;
    text-align: center;
    margin: 16px auto;
}

.list {
    padding: 24px;
    text-align: left;
    display: flex;
    list-style: none;
}

h1, h2 {
    text-align: center;
}

h1, h2, img, p, ul, ol {
    width: 400px;
    background-color: #ffebcd;
    padding: 12px;
    margin: 16px auto;
}

img {
    display: block;
}

ul, ol {
    padding: 24px;
}

